mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: avaliacao_item_resposta
Create Table: CREATE TABLE `avaliacao_item_resposta` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `resposta_numero` int DEFAULT NULL,
  `resposta_texto` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `distribuicao_id` int unsigned DEFAULT NULL,
  `avaliacao_subpergunta_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `avaliacao_item_resposta_distribuicao_id_foreign` (`distribuicao_id`),
  KEY `avaliacao_item_resposta_avaliacao_subpergunta_id_foreign` (`avaliacao_subpergunta_id`),
  CONSTRAINT `avaliacao_item_resposta_avaliacao_subpergunta_id_foreign` FOREIGN KEY (`avaliacao_subpergunta_id`) REFERENCES `formulario_subperguntas` (`id`),
  CONSTRAINT `avaliacao_item_resposta_distribuicao_id_foreign` FOREIGN KEY (`distribuicao_id`) REFERENCES `distribuicoes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
