mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: avaliacao_itens
Create Table: CREATE TABLE `avaliacao_itens` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `formulario_avaliacao_subpergunta_id` int unsigned NOT NULL,
  `descricao_item_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `form_avaliacao_itens_form_avaliacao_subpergunta_id_foreign` (`formulario_avaliacao_subpergunta_id`),
  KEY `avaliacao_itens_descricao_item_id_foreign` (`descricao_item_id`),
  CONSTRAINT `avaliacao_itens_descricao_item_id_foreign` FOREIGN KEY (`descricao_item_id`) REFERENCES `descricoes_item` (`id`) ON DELETE CASCADE,
  CONSTRAINT `form_avaliacao_itens_form_avaliacao_subpergunta_id_foreign` FOREIGN KEY (`formulario_avaliacao_subpergunta_id`) REFERENCES `formulario_subperguntas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
