mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: cancelamentos
Create Table: CREATE TABLE `cancelamentos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned NOT NULL,
  `tipo_solicitante` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'bolsista' COMMENT 'bolsista ou orientador',
  `user_solicitante_id` bigint unsigned DEFAULT NULL,
  `motivo_cancelamento_id` bigint unsigned NOT NULL,
  `outros_motivos` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `status` int NOT NULL DEFAULT '0' COMMENT '0: Pendente, 1: Deferido, 2: Indeferido',
  `user_deferimento_id` bigint unsigned DEFAULT NULL,
  `observacao_deferimento` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `data_solicitacao` timestamp NULL DEFAULT NULL,
  `data_deferimento` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cancelamentos_processo_id_foreign` (`processo_id`),
  KEY `cancelamentos_motivo_cancelamento_id_foreign` (`motivo_cancelamento_id`),
  KEY `cancelamentos_user_deferimento_id_foreign` (`user_deferimento_id`),
  KEY `cancelamentos_user_solicitante_id_foreign` (`user_solicitante_id`),
  CONSTRAINT `cancelamentos_motivo_cancelamento_id_foreign` FOREIGN KEY (`motivo_cancelamento_id`) REFERENCES `motivos_cancelamentos` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `cancelamentos_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cancelamentos_user_deferimento_id_foreign` FOREIGN KEY (`user_deferimento_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cancelamentos_user_solicitante_id_foreign` FOREIGN KEY (`user_solicitante_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
