mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: chamada_avaliacoes
Create Table: CREATE TABLE `chamada_avaliacoes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_inicial` datetime DEFAULT NULL,
  `data_final` datetime DEFAULT NULL,
  `resultado` datetime DEFAULT NULL,
  `recurso` datetime DEFAULT NULL,
  `etapa_id` int unsigned DEFAULT NULL,
  `edital_chamada_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `chamada_avaliacoes_etapa_id_foreign` (`etapa_id`),
  KEY `chamada_avaliacoes_edital_chamada_id_foreign` (`edital_chamada_id`),
  CONSTRAINT `chamada_avaliacoes_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`),
  CONSTRAINT `chamada_avaliacoes_etapa_id_foreign` FOREIGN KEY (`etapa_id`) REFERENCES `etapas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=137 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
