mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: chamada_formulario_solicitacoes
Create Table: CREATE TABLE `chamada_formulario_solicitacoes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `orientador` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '2' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `supervisor` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '2' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `instituicao_execucao` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `faixa` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `pos_graduacao` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `equipe` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `palavra_chave` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `justificativa` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `memorial` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `resumo` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `plano_trabalho` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `sintese` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `tipo_proposta` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `evento` enum('1','2','3','4') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir; 4- Só o evento é obrigatorio',
  `atividades_proposta` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `tipo_solicitacao` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `forma_participacao` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `abrangencia_evento` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `orcamento` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `cronograma` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Não obrigatorio; 2- Obrigatorio; 3- Não exibir',
  `edital_chamada_id` int unsigned DEFAULT NULL,
  `link_lattes` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Indica se o link para o currículo Lattes do solicitante é obrigatório',
  PRIMARY KEY (`id`),
  KEY `chamada_formulario_solicitacoes_edital_chamada_id_foreign` (`edital_chamada_id`),
  CONSTRAINT `chamada_formulario_solicitacoes_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=452 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
