mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: chamada_dados_contratacao
Create Table: CREATE TABLE `chamada_dados_contratacao` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `relatorio_obrigatorio` tinyint(1) NOT NULL DEFAULT '0',
  `edital_chamada_id` int unsigned NOT NULL,
  `data_inicial_contratacao` date DEFAULT NULL,
  `data_final_contratacao` date DEFAULT NULL,
  `data_inicial_vigencia` date DEFAULT NULL,
  `data_final_vigencia` date DEFAULT NULL,
  `data_inicial_prestacao_de_conta` date DEFAULT NULL,
  `data_final_prestacao_de_conta` date DEFAULT NULL,
  `data_relatorio_parcial` date DEFAULT NULL,
  `data_relatorio_final` date DEFAULT NULL,
  `data_inicial_periodo_renovacao` date DEFAULT NULL,
  `data_final_periodo_renovacao` date DEFAULT NULL,
  `valor_bolsa` decimal(8,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `chamada_dados_contratacao_edital_chamada_id_foreign` (`edital_chamada_id`),
  CONSTRAINT `chamada_dados_contratacao_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=233 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
