mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: chamada_natureza
Create Table: CREATE TABLE `chamada_natureza` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `edital_chamada_id` int unsigned NOT NULL,
  `natureza_despesa_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `chamada_natureza_edital_chamada_id_foreign` (`edital_chamada_id`),
  KEY `chamada_natureza_natureza_despesa_id_foreign` (`natureza_despesa_id`),
  CONSTRAINT `chamada_natureza_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chamada_natureza_natureza_despesa_id_foreign` FOREIGN KEY (`natureza_despesa_id`) REFERENCES `natureza_despesas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10036 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
