mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: chamada_dados_avaliacao
Create Table: CREATE TABLE `chamada_dados_avaliacao` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `data_inicio_avaliacao_admissao` date DEFAULT NULL,
  `data_fim_avaliacao_admissao` date DEFAULT NULL,
  `data_inicio_avaliacao_relatorio` date DEFAULT NULL,
  `data_fim_avaliacao_relatorio` date DEFAULT NULL,
  `numero_consultores` int DEFAULT NULL,
  `qtd_recomendacoes` int DEFAULT NULL,
  `numero_solicitacoes_por_consultor` int DEFAULT NULL,
  `data_inicio_periodo_avaliacao` date DEFAULT NULL,
  `data_fim_periodo_avaliacao` date DEFAULT NULL,
  `porcentagem_aprovacao_avaliacao` int DEFAULT NULL,
  `avaliacao_permanente` tinyint(1) NOT NULL DEFAULT '1',
  `tipo_pergunta` enum('NOTA','QUANTIDADE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'NOTA',
  `nota_maxima` enum('5','10','100') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '10',
  `calcular_media_ponderada` tinyint(1) NOT NULL DEFAULT '1',
  `totalizar_avaliacao` tinyint(1) NOT NULL DEFAULT '1',
  `propor_corte_orcamentario` tinyint(1) NOT NULL DEFAULT '1',
  `propor_alteracoes_metodologicas` tinyint(1) NOT NULL DEFAULT '1',
  `recomendado_com_restricoes` tinyint(1) NOT NULL DEFAULT '1',
  `edital_chamada_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `chamada_dados_avaliacao_edital_chamada_id_foreign` (`edital_chamada_id`),
  CONSTRAINT `chamada_dados_avaliacao_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
