mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: chamada_anexos
Create Table: CREATE TABLE `chamada_anexos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tamanho` int NOT NULL COMMENT 'Tamanho do Anexo em megabytes: 2mb, 6mb, 10mb',
  `tipo` enum('pdf','imagem') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pdf',
  `sigla` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `obrigatorio` tinyint(1) NOT NULL DEFAULT '0',
  `equipe` tinyint(1) NOT NULL DEFAULT '0',
  `permite_excluir` tinyint(1) NOT NULL DEFAULT '0',
  `edital_chamada_id` int unsigned NOT NULL,
  `chamada_relatorio_id` int unsigned DEFAULT NULL,
  `tela_id` int unsigned NOT NULL,
  `funcao_equipe_id` int unsigned DEFAULT NULL,
  `descricao_anexo_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `chamada_anexos_edital_chamada_id_foreign` (`edital_chamada_id`),
  KEY `chamada_anexos_tela_id_foreign` (`tela_id`),
  KEY `chamada_anexos_funcao_equipe_id_foreign` (`funcao_equipe_id`),
  KEY `chamada_anexos_descricao_anexo_id_foreign` (`descricao_anexo_id`),
  KEY `chamada_anexos_chamada_relatorio_id_foreign` (`chamada_relatorio_id`),
  CONSTRAINT `chamada_anexos_chamada_relatorio_id_foreign` FOREIGN KEY (`chamada_relatorio_id`) REFERENCES `chamada_relatorios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chamada_anexos_descricao_anexo_id_foreign` FOREIGN KEY (`descricao_anexo_id`) REFERENCES `descricao_anexos` (`id`),
  CONSTRAINT `chamada_anexos_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chamada_anexos_funcao_equipe_id_foreign` FOREIGN KEY (`funcao_equipe_id`) REFERENCES `funcao_equipe` (`id`),
  CONSTRAINT `chamada_anexos_tela_id_foreign` FOREIGN KEY (`tela_id`) REFERENCES `telas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2818 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
