mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: chamada_quotas
Create Table: CREATE TABLE `chamada_quotas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `quantidade` int NOT NULL COMMENT 'quantidade de quota',
  `edital_chamada_id` int unsigned NOT NULL,
  `instituicao_id` int unsigned DEFAULT NULL,
  `user_id` bigint unsigned NOT NULL,
  `tipo` enum('coordenador','visualizador') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'coordenador' COMMENT 'coordenador ou visualizador',
  PRIMARY KEY (`id`),
  KEY `chamada_quotas_edital_chamada_id_foreign` (`edital_chamada_id`),
  KEY `chamada_quotas_instituicao_id_foreign` (`instituicao_id`),
  CONSTRAINT `chamada_quotas_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chamada_quotas_instituicao_id_foreign` FOREIGN KEY (`instituicao_id`) REFERENCES `instituicoes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=822 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
