mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: chamada_criterio_lattes
Create Table: CREATE TABLE `chamada_criterio_lattes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `edital_chamada_id` int unsigned NOT NULL,
  `criterio_lattes_id` bigint unsigned NOT NULL,
  `nota` int unsigned NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `chamada_criterio_lattes_uk` (`edital_chamada_id`,`criterio_lattes_id`),
  KEY `chamada_criterio_lattes_criterio_lattes_id_foreign` (`criterio_lattes_id`),
  CONSTRAINT `chamada_criterio_lattes_criterio_lattes_id_foreign` FOREIGN KEY (`criterio_lattes_id`) REFERENCES `criterio_lattes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chamada_criterio_lattes_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
