mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: comites
Create Table: CREATE TABLE `comites` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `presencial` tinyint(1) NOT NULL DEFAULT '1' COMMENT '0- não, 1- sim',
  `inicio_distribuicao` date DEFAULT NULL COMMENT 'Data de inicio de distribuição',
  `fim_distribuicao` date DEFAULT NULL COMMENT 'Data de fim de distribuição',
  `inicio_avaliacao` timestamp NULL DEFAULT NULL COMMENT 'Data de inicio da avaliação',
  `fim_avaliacao` timestamp NULL DEFAULT NULL COMMENT 'Data de fim da avaliação',
  `edital_id` int unsigned NOT NULL,
  `edital_avaliacao_id` int unsigned NOT NULL,
  `chamadas` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT 'Uma ou mais chamadas',
  PRIMARY KEY (`id`),
  KEY `comites_edital_id_foreign` (`edital_id`),
  KEY `comites_edital_avaliacao_id_foreign` (`edital_avaliacao_id`),
  CONSTRAINT `comites_edital_avaliacao_id_foreign` FOREIGN KEY (`edital_avaliacao_id`) REFERENCES `formulario_avaliacoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `comites_edital_id_foreign` FOREIGN KEY (`edital_id`) REFERENCES `editais` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
