mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: convenio_aditivo_financeiros
Create Table: CREATE TABLE `convenio_aditivo_financeiros` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `convenio_aditivo_id` bigint unsigned NOT NULL,
  `convenio_financeiro_id` int unsigned NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `aditivo_financeiro_unique` (`convenio_aditivo_id`,`convenio_financeiro_id`),
  KEY `convenio_aditivo_financeiros_convenio_financeiro_id_foreign` (`convenio_financeiro_id`),
  CONSTRAINT `convenio_aditivo_financeiros_convenio_aditivo_id_foreign` FOREIGN KEY (`convenio_aditivo_id`) REFERENCES `convenio_aditivos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `convenio_aditivo_financeiros_convenio_financeiro_id_foreign` FOREIGN KEY (`convenio_financeiro_id`) REFERENCES `convenio_financeiro` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
