mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: convenio_instituicao
Create Table: CREATE TABLE `convenio_instituicao` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `convenio_id` int unsigned NOT NULL,
  `instituicao_id` int unsigned NOT NULL,
  `tipo` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `convenio_instituicao_convenio_id_foreign` (`convenio_id`),
  KEY `convenio_instituicao_instituicao_id_foreign` (`instituicao_id`),
  CONSTRAINT `convenio_instituicao_convenio_id_foreign` FOREIGN KEY (`convenio_id`) REFERENCES `convenios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `convenio_instituicao_instituicao_id_foreign` FOREIGN KEY (`instituicao_id`) REFERENCES `instituicoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
