mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: convenios
Create Table: CREATE TABLE `convenios` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `numero` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ano` int NOT NULL,
  `nome` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'nome',
  `tipo` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '1- municipal, 2- estadual, 3- federal, 4-internacional',
  `assinatura` date DEFAULT NULL COMMENT 'data da assinatura',
  `diario_estadual` date DEFAULT NULL COMMENT 'data da diario estadual',
  `diario_uniao` date DEFAULT NULL COMMENT 'data da diario uniao',
  `vigencia_inicial` date DEFAULT NULL COMMENT 'data vigencia inicial',
  `vigencia_final` date DEFAULT NULL COMMENT 'data vigencia final',
  `relatorio` tinyint(1) DEFAULT NULL COMMENT 'possui relatorio de atividades',
  `relatorio_parcial` date DEFAULT NULL COMMENT 'data relatorio parcial',
  `relatorio_final` date DEFAULT NULL COMMENT 'data relatorio final',
  `prestacao_inicial` date DEFAULT NULL COMMENT 'data inicial prestacao',
  `prestacao_final` date DEFAULT NULL COMMENT 'data final prestacao',
  `objeto` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'objeto',
  `banco` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'banco',
  `conta` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'conta',
  `agencia` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'agencia',
  `interveniente` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'interveniente',
  `implantacao` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'implantacao',
  `anexo_path` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'path anexo',
  `anexo_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'nome anexo',
  `anexo_financeiro_path` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'path anexo financeiro',
  `anexo_financeiro_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'nome anexo financeiro',
  `gestor_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `convenios_gestor_id_foreign` (`gestor_id`),
  CONSTRAINT `convenios_gestor_id_foreign` FOREIGN KEY (`gestor_id`) REFERENCES `gestores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
