mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: convenio_subacao
Create Table: CREATE TABLE `convenio_subacao` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `subacao_id` int unsigned NOT NULL,
  `convenio_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `convenio_subacao_subacao_id_foreign` (`subacao_id`),
  KEY `convenio_subacao_convenio_id_foreign` (`convenio_id`),
  CONSTRAINT `convenio_subacao_convenio_id_foreign` FOREIGN KEY (`convenio_id`) REFERENCES `convenios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `convenio_subacao_subacao_id_foreign` FOREIGN KEY (`subacao_id`) REFERENCES `subacoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
