mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: convenio_aditivos
Create Table: CREATE TABLE `convenio_aditivos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tipo` int DEFAULT NULL,
  `ano` int DEFAULT NULL,
  `numero` int DEFAULT NULL,
  `anexo_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `anexo_path` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `assinatura` date DEFAULT NULL COMMENT 'data da assinatura',
  `prorrogacao` date DEFAULT NULL COMMENT 'data prorrogacao',
  `objetivo` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `resumo` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `convenio_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `convenio_aditivos_convenio_id_foreign` (`convenio_id`),
  CONSTRAINT `convenio_aditivos_convenio_id_foreign` FOREIGN KEY (`convenio_id`) REFERENCES `convenios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
