mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: convenio_execucoes
Create Table: CREATE TABLE `convenio_execucoes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `data` date NOT NULL,
  `valor` decimal(10,2) NOT NULL DEFAULT '0.00',
  `convenio_planejamento_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `convenio_execucoes_convenio_planejamento_id_foreign` (`convenio_planejamento_id`),
  CONSTRAINT `convenio_execucoes_convenio_planejamento_id_foreign` FOREIGN KEY (`convenio_planejamento_id`) REFERENCES `convenio_planejamentos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
