mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: convenio_financeiro
Create Table: CREATE TABLE `convenio_financeiro` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `despesa_corrente_custeio` decimal(10,2) NOT NULL DEFAULT '0.00',
  `despesa_corrente_capital` decimal(10,2) NOT NULL DEFAULT '0.00',
  `convenio_instituicao_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `convenio_financeiro_convenio_instituicao_id_foreign` (`convenio_instituicao_id`),
  CONSTRAINT `convenio_financeiro_convenio_instituicao_id_foreign` FOREIGN KEY (`convenio_instituicao_id`) REFERENCES `convenio_instituicao` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
