mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: convenio_planejamentos
Create Table: CREATE TABLE `convenio_planejamentos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `mes` int NOT NULL,
  `ano` int NOT NULL,
  `valor` decimal(10,2) NOT NULL DEFAULT '0.00',
  `financeiro_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `convenio_planejamentos_financeiro_id_foreign` (`financeiro_id`),
  CONSTRAINT `convenio_planejamentos_financeiro_id_foreign` FOREIGN KEY (`financeiro_id`) REFERENCES `convenio_financeiro` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
