mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: credito_processos
Create Table: CREATE TABLE `credito_processos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `custeio` double(8,2) NOT NULL COMMENT 'valor do custeio',
  `capital` double(8,2) NOT NULL COMMENT 'valor do capital',
  `status` varchar(1) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0' COMMENT '0 = não avaliado, 1 = deferido, 2 = indeferido',
  `tipo` varchar(1) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1 = suplementar, 2 = publicação, 3 = importação',
  `processo_id` int unsigned DEFAULT NULL,
  `processoscredito_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `credito_processos_processo_id_foreign` (`processo_id`),
  KEY `credito_processos_processoscredito_id_foreign` (`processoscredito_id`),
  CONSTRAINT `credito_processos_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`),
  CONSTRAINT `credito_processos_processoscredito_id_foreign` FOREIGN KEY (`processoscredito_id`) REFERENCES `processos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
