mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: creditos
Create Table: CREATE TABLE `creditos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `credito` double(8,2) NOT NULL COMMENT 'valor do credito',
  `status` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0 = não liberado, 1 = liberado',
  `processo_id` int unsigned DEFAULT NULL,
  `comite_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `creditos_processo_id_foreign` (`processo_id`),
  KEY `creditos_comite_id_foreign` (`comite_id`),
  CONSTRAINT `creditos_comite_id_foreign` FOREIGN KEY (`comite_id`) REFERENCES `comites` (`id`),
  CONSTRAINT `creditos_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
