mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: descricoes_subpergunta
Create Table: CREATE TABLE `descricoes_subpergunta` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `descricao` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao_pergunta_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `descricoes_subpergunta_descricao_pergunta_id_foreign` (`descricao_pergunta_id`),
  CONSTRAINT `descricoes_subpergunta_descricao_pergunta_id_foreign` FOREIGN KEY (`descricao_pergunta_id`) REFERENCES `descricoes_pergunta` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=253 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
