mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: descricoes_item
Create Table: CREATE TABLE `descricoes_item` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `descricao` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao_subpergunta_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `descricoes_item_descricao_subpergunta_id_foreign` (`descricao_subpergunta_id`),
  CONSTRAINT `descricoes_item_descricao_subpergunta_id_foreign` FOREIGN KEY (`descricao_subpergunta_id`) REFERENCES `descricoes_subpergunta` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
