mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: distribuicoes
Create Table: CREATE TABLE `distribuicoes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `situacao` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Convite distribuido; 2- Convite notificado; 3- Convite aceito; 4- Convite cancelado; 5- Avaliado; 6- Avaliado e enviado a FAPEMA; 7 - Convite recusado.',
  `codigo` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Hash única para a distribuição',
  `formulario_pdf_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nome do arquivo PDF do formulário gerado',
  `nota` decimal(8,2) DEFAULT NULL,
  `valor_aprovado` double(8,2) DEFAULT NULL COMMENT 'Valor aprovado pelo consultor',
  `parecer` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Recomendado, 2- Não recomendado, 3- Recomendado com alterações, 4- Recomendado mais não rankeado, 5- Não enquadrado',
  `justificativa` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'justificativa do consultor',
  `ordem_ranqueamento` int DEFAULT NULL COMMENT 'ordem do ranqueamento',
  `selecionado` tinyint(1) DEFAULT '1' COMMENT 'selecionado para ranqueamento',
  `processo_id` int unsigned NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `chamada_formulario_avaliacao_id` int unsigned DEFAULT NULL,
  `data_envio` datetime DEFAULT NULL,
  `data_distribuicao` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `distribuicoes_codigo_unique` (`codigo`),
  KEY `distribuicoes_processo_id_foreign` (`processo_id`),
  KEY `distribuicoes_user_id_foreign` (`user_id`),
  KEY `distribuicoes_chamada_formulario_avaliacao_id_foreign` (`chamada_formulario_avaliacao_id`),
  CONSTRAINT `distribuicoes_chamada_formulario_avaliacao_id_foreign` FOREIGN KEY (`chamada_formulario_avaliacao_id`) REFERENCES `formulario_avaliacoes` (`id`),
  CONSTRAINT `distribuicoes_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `distribuicoes_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4168 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
