mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: documentos_gerados
Create Table: CREATE TABLE `documentos_gerados` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `tipo` tinyint NOT NULL COMMENT 'Tipo de declaração/documento (1-8 conforme TIPOS_DECLARACOES)',
  `hash_verificacao` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Hash SHA256 gerada com tipo e data/hora',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `documentos_gerados_hash_verificacao_unique` (`hash_verificacao`),
  KEY `documentos_gerados_processo_id_index` (`processo_id`),
  KEY `documentos_gerados_hash_verificacao_index` (`hash_verificacao`),
  KEY `documentos_gerados_user_id_index` (`user_id`),
  CONSTRAINT `documentos_gerados_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `documentos_gerados_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=16416 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
