mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: edital_creditos
Create Table: CREATE TABLE `edital_creditos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `inicio` date NOT NULL COMMENT 'data de inicio',
  `fim` date NOT NULL COMMENT 'data de fim',
  `edital_chamada_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `edital_creditos_edital_chamada_id_foreign` (`edital_chamada_id`),
  CONSTRAINT `edital_creditos_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
