mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: edital_chamadas
Create Table: CREATE TABLE `edital_chamadas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `numero` int unsigned NOT NULL,
  `grupo` int DEFAULT NULL,
  `nome` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `inicio` datetime DEFAULT NULL,
  `fim` datetime DEFAULT NULL,
  `publicada` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0 - não publicada; 1 - publicada',
  `edital_id` int unsigned NOT NULL,
  `parecer_pesquisador` tinyint(1) NOT NULL DEFAULT '0',
  `exibir_nota` tinyint(1) NOT NULL DEFAULT '0',
  `recurso_inicio` datetime DEFAULT NULL,
  `recurso_fim` datetime DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `edital_chamadas_edital_id_foreign` (`edital_id`),
  CONSTRAINT `edital_chamadas_edital_id_foreign` FOREIGN KEY (`edital_id`) REFERENCES `editais` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=455 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
