mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: edital_setores
Create Table: CREATE TABLE `edital_setores` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `setor_id` int unsigned NOT NULL,
  `edital_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `edital_setores_setor_id_foreign` (`setor_id`),
  KEY `edital_setores_edital_id_foreign` (`edital_id`),
  CONSTRAINT `edital_setores_edital_id_foreign` FOREIGN KEY (`edital_id`) REFERENCES `editais` (`id`),
  CONSTRAINT `edital_setores_setor_id_foreign` FOREIGN KEY (`setor_id`) REFERENCES `setores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1886 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
