mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: edital_chamada_detalhes_orcamento
Create Table: CREATE TABLE `edital_chamada_detalhes_orcamento` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `custeio` tinyint(1) DEFAULT NULL COMMENT '0 - Não Exibir, 1 - Exibir',
  `capital` tinyint(1) DEFAULT NULL COMMENT '0 - Não Exibir, 1 - Exibir',
  `orcamento` tinyint(1) DEFAULT NULL COMMENT '0 - Não Exibir, 1 - Exibir',
  `total_orcamento` tinyint(1) DEFAULT NULL COMMENT '0 - Não Exibir, 1 - Exibir',
  `edital_chamada_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `edital_chamada_detalhes_orcamento_edital_chamada_id_foreign` (`edital_chamada_id`),
  CONSTRAINT `edital_chamada_detalhes_orcamento_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=434 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
