mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: edital_termo_clausulas
Create Table: CREATE TABLE `edital_termo_clausulas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `edital_chamada_id` int unsigned NOT NULL,
  `termo_clausula_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `edital_termo_clausulas_edital_chamada_id_foreign` (`edital_chamada_id`),
  KEY `edital_termo_clausulas_termo_clausula_id_foreign` (`termo_clausula_id`),
  CONSTRAINT `edital_termo_clausulas_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `edital_termo_clausulas_termo_clausula_id_foreign` FOREIGN KEY (`termo_clausula_id`) REFERENCES `termo_clausulas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
