mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: edital_dados_financeiro
Create Table: CREATE TABLE `edital_dados_financeiro` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `valor_edital` decimal(19,2) DEFAULT NULL,
  `sub_acao` int DEFAULT NULL,
  `fonte` enum('C','E') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'C- convenio; E- estado',
  `convenio_id` int unsigned DEFAULT NULL,
  `edital_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `edital_dados_financeiro_convenio_id_foreign` (`convenio_id`),
  KEY `edital_dados_financeiro_edital_id_foreign` (`edital_id`),
  CONSTRAINT `edital_dados_financeiro_convenio_id_foreign` FOREIGN KEY (`convenio_id`) REFERENCES `convenios` (`id`),
  CONSTRAINT `edital_dados_financeiro_edital_id_foreign` FOREIGN KEY (`edital_id`) REFERENCES `editais` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=363 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
