mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: edital_dados_financeiro_orcamentos
Create Table: CREATE TABLE `edital_dados_financeiro_orcamentos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `mes` int DEFAULT NULL,
  `ano` int DEFAULT NULL,
  `valor_orcamento` decimal(19,2) DEFAULT NULL,
  `dados_financeiro_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `edital_dados_financeiro_orcamentos_dados_financeiro_id_foreign` (`dados_financeiro_id`),
  CONSTRAINT `edital_dados_financeiro_orcamentos_dados_financeiro_id_foreign` FOREIGN KEY (`dados_financeiro_id`) REFERENCES `edital_dados_financeiro` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=617 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
