mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: edital_chamada_faixas
Create Table: CREATE TABLE `edital_chamada_faixas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `valor` decimal(10,2) NOT NULL COMMENT 'valor máximo por proposta',
  `contigenciamento` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'contigenciamento do comitê',
  `edital_chamada_id` int unsigned NOT NULL,
  `descricao_faixa_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `edital_chamada_faixas_edital_chamada_id_foreign` (`edital_chamada_id`),
  KEY `edital_chamada_faixas_descricao_faixa_id_foreign` (`descricao_faixa_id`),
  CONSTRAINT `edital_chamada_faixas_descricao_faixa_id_foreign` FOREIGN KEY (`descricao_faixa_id`) REFERENCES `descricao_faixas` (`id`),
  CONSTRAINT `edital_chamada_faixas_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=417 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
