mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: editais
Create Table: CREATE TABLE `editais` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ano` varchar(4) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero` int DEFAULT NULL,
  `tipo` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- bolsa; 2- auxilio',
  `caracteristica` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1-Edital; 3-Fluxo contínuo; 4-Demandas institucionais; 5-ACT; 6-Monitoria; 7-CTC; 8-Portaria; 9-Resolução; 10-Convênio',
  `personalidade_juridica` enum('F','J') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'F' COMMENT 'F - Pessoa fisica; J - Pessoa Juridica',
  `uso` tinyint(1) NOT NULL DEFAULT '1' COMMENT '0 - interno; 1 - externo',
  `link` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Anexo Edital(Buscar o link do site)',
  `quota` tinyint(1) NOT NULL DEFAULT '0',
  `quota_indicacao_multipla` tinyint(1) NOT NULL DEFAULT '0',
  `substituir_bolsista` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Pode ter substituição',
  `indicar_bolsista` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  `portal_projetos` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'exibir no Buriti',
  `rep_institucional` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'solicitar representante institucional',
  `assinatura_rep_institucional` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'solicitar representante institucional',
  `inscricao_permanente` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'solicitar representante institucional',
  `modalidade_id` int unsigned NOT NULL,
  `setor_id` int unsigned DEFAULT NULL,
  `user_responsavel` bigint unsigned DEFAULT NULL,
  `edital_pai_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `acesso_restrito` tinyint(1) NOT NULL DEFAULT '0',
  `conta_exclusiva` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `editais_modalidade_id_foreign` (`modalidade_id`),
  KEY `editais_setor_id_foreign` (`setor_id`),
  KEY `editais_edital_pai_id_foreign` (`edital_pai_id`),
  KEY `editais_user_responsavel_foreign` (`user_responsavel`),
  CONSTRAINT `editais_edital_pai_id_foreign` FOREIGN KEY (`edital_pai_id`) REFERENCES `editais` (`id`),
  CONSTRAINT `editais_modalidade_id_foreign` FOREIGN KEY (`modalidade_id`) REFERENCES `modalidades` (`id`),
  CONSTRAINT `editais_setor_id_foreign` FOREIGN KEY (`setor_id`) REFERENCES `setores` (`id`),
  CONSTRAINT `editais_user_responsavel_foreign` FOREIGN KEY (`user_responsavel`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=373 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
