mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: edital_fonte_pagadoras
Create Table: CREATE TABLE `edital_fonte_pagadoras` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `valor` double(9,2) DEFAULT NULL COMMENT 'valor da fonte pagadora',
  `edital_id` int unsigned NOT NULL,
  `fonte_pagadora_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `edital_fonte_pagadoras_edital_id_foreign` (`edital_id`),
  KEY `edital_fonte_pagadoras_fonte_pagadora_id_foreign` (`fonte_pagadora_id`),
  CONSTRAINT `edital_fonte_pagadoras_edital_id_foreign` FOREIGN KEY (`edital_id`) REFERENCES `editais` (`id`) ON DELETE CASCADE,
  CONSTRAINT `edital_fonte_pagadoras_fonte_pagadora_id_foreign` FOREIGN KEY (`fonte_pagadora_id`) REFERENCES `fonte_pagadoras` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
