mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: enquadramentos_contratacao
Create Table: CREATE TABLE `enquadramentos_contratacao` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `enquadramento` enum('D','E','P') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'D = desenquadramento; E = enquadramento, P = Com pendência',
  `justificativa` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'Justificativa',
  `processo_id` int unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `enquadramentos_contratacao_processo_id_foreign` (`processo_id`),
  KEY `enquadramentos_contratacao_user_id_foreign` (`user_id`),
  CONSTRAINT `enquadramentos_contratacao_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`),
  CONSTRAINT `enquadramentos_contratacao_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=870 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
