mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: erro_steps_editais
Create Table: CREATE TABLE `erro_steps_editais` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `erroDadosGerais` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  `erroDadosFinanceiros` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  `edital_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `erro_steps_editais_edital_id_foreign` (`edital_id`),
  CONSTRAINT `erro_steps_editais_edital_id_foreign` FOREIGN KEY (`edital_id`) REFERENCES `editais` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=373 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
