mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: erro_steps_chamada
Create Table: CREATE TABLE `erro_steps_chamada` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `erroAnexos` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  `erroDocumentacoes` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim / obrigatório se não for quota',
  `erroDadosContratacao` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  `erroTermoOutorga` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  `erroTermoAditivoValor` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  `erroTermoAditivoPrazo` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  `erroTermoApostilamento` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  `edital_chamada_id` int unsigned DEFAULT NULL,
  `erroTermoAditivo` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0- não; 1- sim',
  PRIMARY KEY (`id`),
  KEY `erro_steps_chamada_edital_chamada_id_foreign` (`edital_chamada_id`),
  CONSTRAINT `erro_steps_chamada_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=450 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
