mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: erro_steps_processo
Create Table: CREATE TABLE `erro_steps_processo` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned NOT NULL,
  `erroDadosPessoais` tinyint(1) NOT NULL DEFAULT '0',
  `erroInstituicao` tinyint(1) NOT NULL DEFAULT '0',
  `erroArea` tinyint(1) NOT NULL DEFAULT '0',
  `erroEquipe` tinyint(1) NOT NULL DEFAULT '0',
  `erroProjeto` tinyint(1) NOT NULL DEFAULT '0',
  `erroEvento` tinyint(1) NOT NULL DEFAULT '0',
  `erroOrcamento` tinyint(1) NOT NULL DEFAULT '0',
  `erroAnexos` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `erro_steps_processo_processo_id_foreign` (`processo_id`),
  CONSTRAINT `erro_steps_processo_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33582 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
