mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: fonte_acoes
Create Table: CREATE TABLE `fonte_acoes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `fonte_id` int unsigned NOT NULL,
  `acao_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fonte_acoes_fonte_id_foreign` (`fonte_id`),
  KEY `fonte_acoes_acao_id_foreign` (`acao_id`),
  CONSTRAINT `fonte_acoes_acao_id_foreign` FOREIGN KEY (`acao_id`) REFERENCES `acoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fonte_acoes_fonte_id_foreign` FOREIGN KEY (`fonte_id`) REFERENCES `fonte_pagadoras` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
