mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: formulario_perguntas
Create Table: CREATE TABLE `formulario_perguntas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tipo` enum('1','2','3','4','5','6','7','8') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1',
  `peso` decimal(5,1) NOT NULL,
  `formulario_avaliacao_id` int unsigned NOT NULL,
  `descricao_pergunta_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `avaliacao_perguntas_chamada_avaliacao_id_foreign` (`formulario_avaliacao_id`),
  KEY `avaliacao_perguntas_descricao_pergunta_id_foreign` (`descricao_pergunta_id`),
  CONSTRAINT `avaliacao_perguntas_chamada_avaliacao_id_foreign` FOREIGN KEY (`formulario_avaliacao_id`) REFERENCES `formulario_avaliacoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `avaliacao_perguntas_descricao_pergunta_id_foreign` FOREIGN KEY (`descricao_pergunta_id`) REFERENCES `descricoes_pergunta` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=141 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
