mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: formulario_subperguntas
Create Table: CREATE TABLE `formulario_subperguntas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `peso` decimal(5,1) NOT NULL,
  `qtd_caracteres` int DEFAULT NULL,
  `formulario_pergunta_id` int unsigned NOT NULL,
  `descricao_subpergunta_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `form_avaliacao_pergunta_id` (`formulario_pergunta_id`),
  KEY `desc_subpergunta_id` (`descricao_subpergunta_id`),
  CONSTRAINT `desc_subpergunta_id` FOREIGN KEY (`descricao_subpergunta_id`) REFERENCES `descricoes_subpergunta` (`id`),
  CONSTRAINT `form_avaliacao_pergunta_id` FOREIGN KEY (`formulario_pergunta_id`) REFERENCES `formulario_perguntas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=426 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
