mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: formulario_avaliacoes
Create Table: CREATE TABLE `formulario_avaliacoes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `ocultar_dados` tinyint(1) DEFAULT '0',
  `peso_curriculo` decimal(5,1) DEFAULT NULL,
  `nome` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `avaliacao_chamada_id` int unsigned NOT NULL,
  `data_inicio` date DEFAULT NULL COMMENT 'Data de início da atividade',
  `data_fim` date DEFAULT NULL COMMENT 'Data de fim da atividade',
  `edital_id` int unsigned NOT NULL,
  `numero_consultores` int DEFAULT NULL,
  `qtd_recomendacoes` int DEFAULT NULL,
  `nota_maxima` enum('5','10','100') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '10',
  `numero_solicitacoes_por_consultor` int DEFAULT NULL,
  `avaliacao_curricular` tinyint(1) NOT NULL DEFAULT '0',
  `calculo_modalidade` tinyint(1) DEFAULT '0',
  `calculo_area` tinyint(1) DEFAULT '0',
  `disponivel` enum('0','1','2') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `chamada_formulario_avaliacoes_avaliacao_chamada_id_foreign` (`avaliacao_chamada_id`),
  KEY `chamada_formulario_avaliacoes_edital_id_foreign` (`edital_id`),
  CONSTRAINT `chamada_formulario_avaliacoes_avaliacao_chamada_id_foreign` FOREIGN KEY (`avaliacao_chamada_id`) REFERENCES `chamada_avaliacoes` (`id`),
  CONSTRAINT `chamada_formulario_avaliacoes_edital_id_foreign` FOREIGN KEY (`edital_id`) REFERENCES `editais` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
