mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: formulario_respostas
Create Table: CREATE TABLE `formulario_respostas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `resposta_numero` decimal(8,2) DEFAULT NULL,
  `resposta_texto` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `distribuicao_id` int unsigned NOT NULL,
  `formulario_subpergunta_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `avaliacao_subpergunta_resposta_distribuicao_id_foreign` (`distribuicao_id`),
  KEY `avaliacao_subpergunta_resposta_avaliacao_subpergunta_id_foreign` (`formulario_subpergunta_id`),
  CONSTRAINT `avaliacao_subpergunta_resposta_distribuicao_id_foreign` FOREIGN KEY (`distribuicao_id`) REFERENCES `distribuicoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `avaliacao_subpergunta_resposta_formulario_subpergunta_id_foreign` FOREIGN KEY (`formulario_subpergunta_id`) REFERENCES `formulario_subperguntas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15517 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
