mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: gestor_afastamentos
Create Table: CREATE TABLE `gestor_afastamentos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `gestor_id` int unsigned NOT NULL,
  `tipo` tinyint unsigned NOT NULL DEFAULT '1',
  `data_inicio` date NOT NULL,
  `data_fim` date NOT NULL,
  `substituto_user_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gestor_afastamentos_gestor_id_foreign` (`gestor_id`),
  KEY `gestor_afastamentos_substituto_user_id_foreign` (`substituto_user_id`),
  CONSTRAINT `gestor_afastamentos_gestor_id_foreign` FOREIGN KEY (`gestor_id`) REFERENCES `gestores` (`id`) ON DELETE CASCADE,
  CONSTRAINT `gestor_afastamentos_substituto_user_id_foreign` FOREIGN KEY (`substituto_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
