mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: historico_processo_dados
Create Table: CREATE TABLE `historico_processo_dados` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned NOT NULL,
  `dados_anteriores` json DEFAULT NULL,
  `dados_novos` json NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `motivo_alteracao` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `historico_processo_dados_processo_id_foreign` (`processo_id`),
  KEY `historico_processo_dados_user_id_foreign` (`user_id`),
  CONSTRAINT `historico_processo_dados_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `historico_processo_dados_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=184 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
