mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: inscricoes
Create Table: CREATE TABLE `inscricoes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `quantidade` int DEFAULT NULL COMMENT 'Quantidade de diárias',
  `valor_unitario` double(9,2) DEFAULT NULL COMMENT 'Valor unitário da diária',
  `valor_total` double(9,2) DEFAULT NULL COMMENT 'Valor total da diária',
  `processo_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `inscricoes_processo_id_foreign` (`processo_id`),
  CONSTRAINT `inscricoes_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
