mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: instituicoes
Create Table: CREATE TABLE `instituicoes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `sigla` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Sigla da Instituição de Ensino',
  `nome` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nome da Instituição de Ensino',
  `cnpj` varchar(14) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'CNPJ da Instituição de Ensino',
  `fone` varchar(15) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Telefone da Instituição de Ensino',
  `ativo` tinyint(1) DEFAULT '0' COMMENT '0 = inativo, 1 = ativo',
  `situacao` tinyint(1) DEFAULT NULL COMMENT '0 = Cadastrado pelo usuário, 1 = Confirmação do Cadastro pela FAPEMA',
  `modalidade` tinyint(1) DEFAULT NULL COMMENT '0 = Instituição Pública , 1 = Instituição Privada',
  `tipo` tinyint(1) DEFAULT NULL COMMENT '0 = Empresa, 1 = Instituição de Ensino',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4974 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
