mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: instituicao_vinculos
Create Table: CREATE TABLE `instituicao_vinculos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `unidade` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Unidade de vínculo do usuário',
  `cargo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vinculo_empregaticio` enum('S','C','P','B','N') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'S - Servidor Público, C - Celetista, P - Professor Visitante, B - Bolsista, N - Não possui vínculo',
  `situacao` enum('A','N') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'A - Ativo, N - Não Ativo',
  `regime_trabalho` enum('20H','40H','DE','O') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '20H - 20 horas, 40H - 40 horas, DE - Dedicação Exclusiva, O - Outros',
  `instituicao_id` int unsigned DEFAULT NULL,
  `polo_id` int unsigned DEFAULT NULL,
  `anexo_vinculo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `instituicao_vinculos_instituicao_id_foreign` (`instituicao_id`),
  KEY `instituicao_vinculos_polo_id_foreign` (`polo_id`),
  CONSTRAINT `instituicao_vinculos_instituicao_id_foreign` FOREIGN KEY (`instituicao_id`) REFERENCES `instituicoes` (`id`),
  CONSTRAINT `instituicao_vinculos_polo_id_foreign` FOREIGN KEY (`polo_id`) REFERENCES `polos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8701 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
