mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: motivos_cancelamentos
Create Table: CREATE TABLE `motivos_cancelamentos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `motivo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
