mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: notificacao_execucao
Create Table: CREATE TABLE `notificacao_execucao` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_notificado` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `fase` int NOT NULL COMMENT 'Fase da notificação',
  `dias` int DEFAULT NULL COMMENT 'Dias Colocados para a Prestação de Contas',
  `data_notificacao` datetime DEFAULT NULL,
  `processo_id` int unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL COMMENT 'Usuário que realizou a notificação',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notificacao_execucao_user_notificado_foreign` (`user_notificado`),
  KEY `notificacao_execucao_processo_id_foreign` (`processo_id`),
  KEY `notificacao_execucao_user_id_foreign` (`user_id`),
  CONSTRAINT `notificacao_execucao_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`),
  CONSTRAINT `notificacao_execucao_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
