mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: pareceres
Create Table: CREATE TABLE `pareceres` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `parecer` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `status` enum('1','2','3','4','5','6','7') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '7' COMMENT '1. Deferido, 2. Indeferido, 3. Deferido com restricao, 4. Em análise, 5. Pendência de regularização, 6. Em tomada de contas especial, 7. Aguardando Análise',
  `objeto_tce` enum('ausencia','pendencia') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Objeto da Tomada de Contas Especial: ausencia = Por Ausência de Prestação de Contas, pendencia = Por Pendência na Prestação de Contas',
  `valor_tce` decimal(10,2) DEFAULT NULL COMMENT 'Valor da Tomada de Contas Especial',
  `data_parecer` datetime DEFAULT NULL COMMENT 'data do parecer',
  `analisado_id` int unsigned NOT NULL,
  `analisado_tipo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pareceres_user_id_foreign` (`user_id`),
  CONSTRAINT `pareceres_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=684 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
