mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: passagens
Create Table: CREATE TABLE `passagens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `trecho_ida` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Trecho de ida, exemple: Imperatriz - São Luís',
  `trecho_volta` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Trecho de volta, exemple: São Luís - Imperatriz',
  `data_ida` date DEFAULT NULL COMMENT 'Data de ida',
  `data_volta` date DEFAULT NULL COMMENT 'Data de volta',
  `quantidade` int DEFAULT NULL COMMENT 'Quantidade de passagens',
  `valor_unitario` double(9,2) DEFAULT NULL COMMENT 'Valor unitário da passagem',
  `valor_total` double(9,2) DEFAULT NULL COMMENT 'Valor total da passagem',
  `processo_id` int unsigned NOT NULL,
  `tipo` int DEFAULT NULL COMMENT '1 - Aéreo, 2 - Fluvial, 3 - Terrestre',
  PRIMARY KEY (`id`),
  KEY `passagens_processo_id_foreign` (`processo_id`),
  CONSTRAINT `passagens_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
