mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: pedido_substituicao_bolsista
Create Table: CREATE TABLE `pedido_substituicao_bolsista` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned NOT NULL,
  `processo_substituto_id` int unsigned DEFAULT NULL,
  `user_solicitante_id` bigint unsigned NOT NULL,
  `novo_user_id` bigint unsigned NOT NULL,
  `justificativa` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` int NOT NULL DEFAULT '0' COMMENT '0: Pendente, 1: Deferido, 2: Indeferido',
  `data_solicitacao` timestamp NULL DEFAULT NULL,
  `data_deferimento` timestamp NULL DEFAULT NULL,
  `user_deferimento_id` bigint unsigned DEFAULT NULL,
  `observacao_deferimento` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pedido_substituicao_bolsista_processo_id_foreign` (`processo_id`),
  KEY `pedido_substituicao_bolsista_processo_substituto_id_foreign` (`processo_substituto_id`),
  KEY `pedido_substituicao_bolsista_user_solicitante_id_foreign` (`user_solicitante_id`),
  KEY `pedido_substituicao_bolsista_novo_user_id_foreign` (`novo_user_id`),
  KEY `pedido_substituicao_bolsista_user_deferimento_id_foreign` (`user_deferimento_id`),
  CONSTRAINT `pedido_substituicao_bolsista_novo_user_id_foreign` FOREIGN KEY (`novo_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pedido_substituicao_bolsista_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pedido_substituicao_bolsista_processo_substituto_id_foreign` FOREIGN KEY (`processo_substituto_id`) REFERENCES `processos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pedido_substituicao_bolsista_user_deferimento_id_foreign` FOREIGN KEY (`user_deferimento_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pedido_substituicao_bolsista_user_solicitante_id_foreign` FOREIGN KEY (`user_solicitante_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
