mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_relatorio
Create Table: CREATE TABLE `processo_relatorio` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `parecer` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `codigo` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `despacho_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `assinatura_diretor` timestamp NULL DEFAULT NULL,
  `assinatura_presidente` timestamp NULL DEFAULT NULL,
  `situacao` varchar(1) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0' COMMENT '0 - nao enviado; 1 - enviado ao orientador; 2 - enviado a Fapema',
  `processo_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `chamada_relatorio_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_relatorio_processo_id_foreign` (`processo_id`),
  KEY `processo_relatorio_chamada_relatorio_id_foreign` (`chamada_relatorio_id`),
  CONSTRAINT `processo_relatorio_chamada_relatorio_id_foreign` FOREIGN KEY (`chamada_relatorio_id`) REFERENCES `chamada_relatorios` (`id`),
  CONSTRAINT `processo_relatorio_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1174 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
