mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_execucao_periodos
Create Table: CREATE TABLE `processo_execucao_periodos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned NOT NULL,
  `chamada_execucao_id` int unsigned NOT NULL,
  `data_inicio` datetime NOT NULL,
  `data_fim` datetime NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_execucao_periodos_chamada_execucao_id_foreign` (`chamada_execucao_id`),
  KEY `pep_processo_chamada_idx` (`processo_id`,`chamada_execucao_id`),
  CONSTRAINT `processo_execucao_periodos_chamada_execucao_id_foreign` FOREIGN KEY (`chamada_execucao_id`) REFERENCES `chamada_execucoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `processo_execucao_periodos_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
