mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_execucao
Create Table: CREATE TABLE `processo_execucao` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `situacao` varchar(1) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0' COMMENT '0 - nao enviado; 1 - enviado a Fapema',
  `data_envio` datetime DEFAULT NULL COMMENT 'Data e hora do envio da execução',
  `processo_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `chamada_execucao_id` int unsigned DEFAULT NULL,
  `saldo` double DEFAULT NULL,
  `numero_sei` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `despacho_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `assinatura_diretor` timestamp NULL DEFAULT NULL,
  `assinatura_presidente` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_execucao_processo_id_foreign` (`processo_id`),
  KEY `processo_execucao_chamada_execucao_id_foreign` (`chamada_execucao_id`),
  CONSTRAINT `processo_execucao_chamada_execucao_id_foreign` FOREIGN KEY (`chamada_execucao_id`) REFERENCES `chamada_execucoes` (`id`),
  CONSTRAINT `processo_execucao_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=130 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
