mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_anexos
Create Table: CREATE TABLE `processo_anexos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nome do anexo',
  `url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Local do arquivo',
  `permite_excluir` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Permissão de excluir o anexo',
  `user_id` bigint unsigned DEFAULT NULL COMMENT 'ID do usuario que enviou',
  `processo_id` int unsigned DEFAULT NULL,
  `chamada_anexo_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_anexos_processo_id_foreign` (`processo_id`),
  KEY `processo_anexos_chamada_anexo_id_foreign` (`chamada_anexo_id`),
  CONSTRAINT `processo_anexos_chamada_anexo_id_foreign` FOREIGN KEY (`chamada_anexo_id`) REFERENCES `chamada_anexos` (`id`),
  CONSTRAINT `processo_anexos_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=80957 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
