mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_anexos_texto
Create Table: CREATE TABLE `processo_anexos_texto` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `texto` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Texto do anexo',
  `processo_id` int unsigned DEFAULT NULL,
  `chamada_anexos_texto_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_anexos_texto_processo_id_foreign` (`processo_id`),
  KEY `processo_anexos_texto_chamada_anexos_texto_id_foreign` (`chamada_anexos_texto_id`),
  CONSTRAINT `processo_anexos_texto_chamada_anexos_texto_id_foreign` FOREIGN KEY (`chamada_anexos_texto_id`) REFERENCES `chamada_anexos_texto` (`id`),
  CONSTRAINT `processo_anexos_texto_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6423 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
