mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_orcamentos
Create Table: CREATE TABLE `processo_orcamentos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `orcamento_solicitado` double(9,2) DEFAULT NULL COMMENT 'Valor do orçamento solicitado a outras instituições',
  `total_custeio` double(9,2) DEFAULT NULL COMMENT 'Valor total itens de custeio',
  `total_capital` double(9,2) DEFAULT NULL COMMENT 'Valor total itens de capital',
  `processo_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_orcamentos_processo_id_foreign` (`processo_id`),
  CONSTRAINT `processo_orcamentos_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11365 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
