mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processos
Create Table: CREATE TABLE `processos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `sigla` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'sigla do processo',
  `titulo` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'titulo do projeto',
  `situacao` tinyint NOT NULL DEFAULT '0' COMMENT 'situação do projeto - Default 0 (não enviado)',
  `palavra_chave1` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'nome do palavra_chave1',
  `palavra_chave2` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'nome do palavra_chave2',
  `palavra_chave3` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'nome do palavra_chave3',
  `justificativa` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'Justificativa do trabalho',
  `resumo` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'Resumo do trabalho',
  `memorial` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'Descrição do memorial',
  `prest_contas` tinyint(1) DEFAULT NULL COMMENT 'Prestou contas',
  `declaracao` tinyint(1) DEFAULT NULL COMMENT 'Li e estou de acordo com a declaração',
  `user_id` bigint unsigned DEFAULT NULL,
  `quota_indicador_id` bigint unsigned DEFAULT NULL,
  `edital_chamada_id` int unsigned NOT NULL,
  `edital_chamada_faixa_id` int unsigned DEFAULT NULL,
  `processotabela_id` int unsigned DEFAULT NULL COMMENT 'id da tabela instituicao/polo',
  `processotabela_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'nome da tabela instituicao/polo',
  `orientador_id` bigint unsigned DEFAULT NULL,
  `supervisor_id` bigint unsigned DEFAULT NULL,
  `area_id` int unsigned DEFAULT NULL,
  `sub_area_id` int unsigned DEFAULT NULL,
  `instituicao_apoio` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Instituicao de apoio',
  `bolsista_instituicao` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Bolsista de outra instituicao',
  `envio` timestamp NULL DEFAULT NULL COMMENT 'data de envio do processo',
  `codigo_controle` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Hash de controle do comprovante',
  `valor_concedido` double(10,2) DEFAULT NULL COMMENT 'Valor concedido',
  `instituicao_id` int unsigned DEFAULT NULL,
  `polo_id` int unsigned DEFAULT NULL,
  `unidade_instituicao` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Departamento, laboratório, núcleo, setor, centro, divisão, etc.',
  `step` int NOT NULL DEFAULT '1' COMMENT 'passo atual da solicitação',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `data_assinatura` timestamp NULL DEFAULT NULL,
  `numero_sei` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `programa_institucional_id` int unsigned DEFAULT NULL,
  `relacao_bens_assinado_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `conta_exclusiva` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `agencia_exclusiva` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `banco_exclusivo_id` int unsigned DEFAULT NULL,
  `conta_exclusiva_pdf_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `conta_exclusiva_pdf_nome` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_processos_sigla` (`sigla`),
  KEY `processos_user_id_foreign` (`user_id`),
  KEY `processos_edital_chamada_id_foreign` (`edital_chamada_id`),
  KEY `processos_edital_chamada_faixa_id_foreign` (`edital_chamada_faixa_id`),
  KEY `processos_orientador_id_foreign` (`orientador_id`),
  KEY `processos_supervisor_id_foreign` (`supervisor_id`),
  KEY `processos_area_id_foreign` (`area_id`),
  KEY `processos_sub_area_id_foreign` (`sub_area_id`),
  KEY `processos_instituicao_id_foreign` (`instituicao_id`),
  KEY `processos_polo_id_foreign` (`polo_id`),
  KEY `processos_programa_institucional_id_foreign` (`programa_institucional_id`),
  KEY `processos_quota_indicador_id_foreign` (`quota_indicador_id`),
  KEY `processos_banco_exclusivo_id_foreign` (`banco_exclusivo_id`),
  CONSTRAINT `processos_area_id_foreign` FOREIGN KEY (`area_id`) REFERENCES `areas` (`id`),
  CONSTRAINT `processos_banco_exclusivo_id_foreign` FOREIGN KEY (`banco_exclusivo_id`) REFERENCES `bancos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `processos_edital_chamada_faixa_id_foreign` FOREIGN KEY (`edital_chamada_faixa_id`) REFERENCES `edital_chamada_faixas` (`id`),
  CONSTRAINT `processos_edital_chamada_id_foreign` FOREIGN KEY (`edital_chamada_id`) REFERENCES `edital_chamadas` (`id`),
  CONSTRAINT `processos_instituicao_id_foreign` FOREIGN KEY (`instituicao_id`) REFERENCES `instituicoes` (`id`),
  CONSTRAINT `processos_orientador_id_foreign` FOREIGN KEY (`orientador_id`) REFERENCES `users` (`id`),
  CONSTRAINT `processos_polo_id_foreign` FOREIGN KEY (`polo_id`) REFERENCES `polos` (`id`),
  CONSTRAINT `processos_programa_institucional_id_foreign` FOREIGN KEY (`programa_institucional_id`) REFERENCES `programas_instituicao` (`id`) ON DELETE SET NULL,
  CONSTRAINT `processos_quota_indicador_id_foreign` FOREIGN KEY (`quota_indicador_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `processos_sub_area_id_foreign` FOREIGN KEY (`sub_area_id`) REFERENCES `sub_areas` (`id`),
  CONSTRAINT `processos_supervisor_id_foreign` FOREIGN KEY (`supervisor_id`) REFERENCES `users` (`id`),
  CONSTRAINT `processos_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33778 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
