mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_cancelamento
Create Table: CREATE TABLE `processo_cancelamento` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `motivo` enum('1','2','3','4','5','6','7','8','9','10','11','12','13','14','15') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '1 - Critério do Curso, 2 - Prazo de Bolsa Esgotado, 3 - Desligado do Curso por Limite de Prazo, 4 - Desistência da Bolsa, 5 - Acúmulo de Bolsas, 6 - Bolsista Adquiriu Vínculo Empregatício, 7 - Mudança de Agência de Fomento à Pesquisa, 8 - Desistência do Curso, 9 - Aposentadoria, 10 - Mudança de Programa CAPES, 11 - Trancamento de Matrícula, 12 - Insuficiência de Aproveitamento, 13 - Falecimento, 14 - Não Atende às Normas do Programa, 15 - Outros',
  `justificativa` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Justificativa do Cancelamento',
  `processo_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_cancelamento_processo_id_foreign` (`processo_id`),
  CONSTRAINT `processo_cancelamento_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=305 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
