mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_enquadramento
Create Table: CREATE TABLE `processo_enquadramento` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `valido` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '1 - Atende, 2 - Não atende, 3 - Não se aplica',
  `justificativa` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'Justificativa',
  `enquadramento_id` int unsigned NOT NULL,
  `chamada_anexo_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_enquadramento_enquadramento_id_foreign` (`enquadramento_id`),
  KEY `processo_enquadramento_chamada_anexo_id_foreign` (`chamada_anexo_id`),
  CONSTRAINT `processo_enquadramento_chamada_anexo_id_foreign` FOREIGN KEY (`chamada_anexo_id`) REFERENCES `chamada_anexos` (`id`),
  CONSTRAINT `processo_enquadramento_enquadramento_id_foreign` FOREIGN KEY (`enquadramento_id`) REFERENCES `enquadramentos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=117451 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
