mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_select_itens
Create Table: CREATE TABLE `processo_select_itens` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned DEFAULT NULL,
  `chamada_select_item_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_select_itens_processo_id_foreign` (`processo_id`),
  KEY `processo_select_itens_chamada_select_item_id_foreign` (`chamada_select_item_id`),
  CONSTRAINT `processo_select_itens_chamada_select_item_id_foreign` FOREIGN KEY (`chamada_select_item_id`) REFERENCES `chamada_select_itens` (`id`),
  CONSTRAINT `processo_select_itens_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5347 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
