mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_equipe
Create Table: CREATE TABLE `processo_equipe` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `area_trabalho` varchar(70) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_confirmacao` datetime DEFAULT NULL,
  `processo_id` int unsigned DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `adicionado_por_user_id` bigint unsigned DEFAULT NULL,
  `funcao_equipe_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_equipe_processo_id_foreign` (`processo_id`),
  KEY `processo_equipe_user_id_foreign` (`user_id`),
  KEY `processo_equipe_funcao_equipe_id_foreign` (`funcao_equipe_id`),
  KEY `processo_equipe_adicionado_por_user_id_foreign` (`adicionado_por_user_id`),
  CONSTRAINT `processo_equipe_adicionado_por_user_id_foreign` FOREIGN KEY (`adicionado_por_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `processo_equipe_funcao_equipe_id_foreign` FOREIGN KEY (`funcao_equipe_id`) REFERENCES `funcao_equipe` (`id`),
  CONSTRAINT `processo_equipe_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `processo_equipe_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=16131 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
