mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_execucao_respostas
Create Table: CREATE TABLE `processo_execucao_respostas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tipo_operacao` enum('1','2','3','4','5','6','7') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '1 - Despesas Bancarias, 2 - Devolver Recurso, \n            3 - Despesas Gerais, 4 - Rendimento da Aplicação, 5 - Receitas Gerais, 6 - Recursos Próprios, 7 - Atualização Monetária',
  `tipo_despesa` enum('1','2','3','4','5','6','7','8','9','10','11','12','13') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '1 - Material Consumo, 2 - Diárias no Estado, \n            3 -Diárias fora do Estado, 4 - Aquisição de Componentes ou Peças de Reposição para Equipamentos, 5 - Passagem, 6 - Serviços de Terceiros - Pessoa Física, \n            7 - Serviços de Terceiros - Pessoa Jurídica, 8 - Despesa de Importação (Até o Limite de 18% do Valor do Bem Importado, 9 - Despesas Gerais (CUSTEIO), 10 - Equipamento e Material Permanente\n            11 - Despesas Gerais (CAPITAL), 12 - Saldo Remanescente, 13 - Receita Financeira',
  `data_doc` date DEFAULT NULL COMMENT 'Data do Documento',
  `numero_doc` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Número do Documento',
  `tipo_doc` enum('1','2','3','4','5','6') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '1 - Nota Fiscal, 2 - Cupom Fiscal, \n            3 - Serviço de Pessoa Física, 4 - Serviço de Pessoa Jurídica, 5 - Extrato Bancário (Conta Corrente), 6 - Extrato Aplicação',
  `fornecedor` char(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nome do Fornecedor',
  `valor` double(9,2) DEFAULT NULL COMMENT 'Valor do Documento',
  `descricao` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'Descrição do Documento',
  `forma_pagamento` enum('1','2','3','4','5','6') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '1 - Cheque, 2 - Cartão de Débito, \n            3 - Cartão de Crédito, 4 - PIX, 5 - Transferência, 6 - Em Espécie',
  `comprovante_execucao_path` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `comprovante_execucao_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `processo_execucao_id` int unsigned DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `processo_execucao_respostas_processo_execucao_id_foreign` (`processo_execucao_id`),
  KEY `processo_execucao_respostas_user_id_foreign` (`user_id`),
  CONSTRAINT `processo_execucao_respostas_processo_execucao_id_foreign` FOREIGN KEY (`processo_execucao_id`) REFERENCES `processo_execucao` (`id`) ON DELETE CASCADE,
  CONSTRAINT `processo_execucao_respostas_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=724 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
