mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: processo_sub_edital
Create Table: CREATE TABLE `processo_sub_edital` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned DEFAULT NULL COMMENT 'id do processo',
  `edital_id` int unsigned DEFAULT NULL COMMENT 'id do sub edital',
  `termo_id` int unsigned DEFAULT NULL COMMENT 'id do termo',
  `qtd_vagas` int NOT NULL COMMENT 'Número de bolsistas',
  `parcelas` int NOT NULL COMMENT 'Número de parcelas',
  `valor` double(9,2) NOT NULL COMMENT 'valor da parcela',
  PRIMARY KEY (`id`),
  KEY `processo_sub_edital_processo_id_foreign` (`processo_id`),
  KEY `processo_sub_edital_edital_id_foreign` (`edital_id`),
  KEY `processo_sub_edital_termo_id_foreign` (`termo_id`),
  CONSTRAINT `processo_sub_edital_edital_id_foreign` FOREIGN KEY (`edital_id`) REFERENCES `editais` (`id`),
  CONSTRAINT `processo_sub_edital_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`),
  CONSTRAINT `processo_sub_edital_termo_id_foreign` FOREIGN KEY (`termo_id`) REFERENCES `termos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
