mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: programas_instituicao_user
Create Table: CREATE TABLE `programas_instituicao_user` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `programa_institucional_id` int unsigned NOT NULL,
  `consultoria_adhoc_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `programas_instituicao_user_user_id_foreign` (`user_id`),
  KEY `programas_instituicao_user_programa_institucional_id_foreign` (`programa_institucional_id`),
  KEY `programas_instituicao_user_consultoria_adhoc_id_foreign` (`consultoria_adhoc_id`),
  CONSTRAINT `programas_instituicao_user_consultoria_adhoc_id_foreign` FOREIGN KEY (`consultoria_adhoc_id`) REFERENCES `consultoria_adhoc` (`id`),
  CONSTRAINT `programas_instituicao_user_programa_institucional_id_foreign` FOREIGN KEY (`programa_institucional_id`) REFERENCES `programas_instituicao` (`id`),
  CONSTRAINT `programas_instituicao_user_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
