mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: recursos
Create Table: CREATE TABLE `recursos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tipo` enum('1','2','3','4','5') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '1 - Valor, 2 - Material, 3 - Diversos, 4 - Resultado, 5 - Prorrogação',
  `justificativa` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'Justificativa do pedido de recurso pelo pesquisador',
  `status` int DEFAULT NULL COMMENT '1 - Solicitado, 2 - Deferido, 3 - Indeferido',
  `user_id` bigint unsigned DEFAULT NULL COMMENT 'Usuário que vai dar o parecer',
  `parecer` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'Parecer do pedido de recurso pelo administrador',
  `data_parecer` date DEFAULT NULL,
  `anexo_recurso_path` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `anexo_recurso_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notificacao` enum('1','2') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '1 - Não Notificado, 2 - Notificado',
  `processo_id` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `parecer_recurso_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `enviado` tinyint(1) DEFAULT '0' COMMENT '0 - Não enviado para o setor, 1 - Enviado para o setor',
  `assinado` tinyint(1) DEFAULT '0' COMMENT '0 - Não assinado pelo presidente, 1 - Assinado pelo presidente',
  PRIMARY KEY (`id`),
  KEY `recursos_user_id_foreign` (`user_id`),
  KEY `recursos_processo_id_foreign` (`processo_id`),
  CONSTRAINT `recursos_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `recursos_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1856 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
