mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: relatorio_subperguntas
Create Table: CREATE TABLE `relatorio_subperguntas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `relatorio_pergunta_id` int unsigned NOT NULL,
  `descricao_subpergunta_id` int unsigned NOT NULL,
  `sifap_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `relatorio_subperguntas_relatorio_pergunta_id_foreign` (`relatorio_pergunta_id`),
  KEY `relatorio_subperguntas_descricao_subpergunta_id_foreign` (`descricao_subpergunta_id`),
  KEY `relatorio_subperguntas_sifap_id_foreign` (`sifap_id`),
  CONSTRAINT `relatorio_subperguntas_descricao_subpergunta_id_foreign` FOREIGN KEY (`descricao_subpergunta_id`) REFERENCES `descricoes_subpergunta` (`id`),
  CONSTRAINT `relatorio_subperguntas_relatorio_pergunta_id_foreign` FOREIGN KEY (`relatorio_pergunta_id`) REFERENCES `relatorio_perguntas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `relatorio_subperguntas_sifap_id_foreign` FOREIGN KEY (`sifap_id`) REFERENCES `sifaps` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1004 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
