mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: relatorio_perguntas
Create Table: CREATE TABLE `relatorio_perguntas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tipo` enum('1','2','3','4','5') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1',
  `descricao_pergunta_id` int unsigned NOT NULL,
  `chamada_relatorio_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `relatorio_perguntas_descricao_pergunta_id_foreign` (`descricao_pergunta_id`),
  KEY `relatorio_perguntas_chamada_relatorio_id_foreign` (`chamada_relatorio_id`),
  CONSTRAINT `relatorio_perguntas_chamada_relatorio_id_foreign` FOREIGN KEY (`chamada_relatorio_id`) REFERENCES `chamada_relatorios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `relatorio_perguntas_descricao_pergunta_id_foreign` FOREIGN KEY (`descricao_pergunta_id`) REFERENCES `descricoes_pergunta` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=725 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
