mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: relatorio_avaliacao_perguntas
Create Table: CREATE TABLE `relatorio_avaliacao_perguntas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tipo` enum('1','2','3','4','5') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1- Justificativa, 2- numerico, 3- Tabela, 4- Seletivo, 5- Seletivo com Justificativa',
  `relatorio_avaliacao_id` int unsigned NOT NULL,
  `descricao_pergunta_id` int unsigned NOT NULL,
  `peso` decimal(8,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `relatorio_avaliacao_perguntas_relatorio_avaliacao_id_foreign` (`relatorio_avaliacao_id`),
  KEY `relatorio_avaliacao_perguntas_descricao_pergunta_id_foreign` (`descricao_pergunta_id`),
  CONSTRAINT `relatorio_avaliacao_perguntas_descricao_pergunta_id_foreign` FOREIGN KEY (`descricao_pergunta_id`) REFERENCES `descricoes_pergunta` (`id`),
  CONSTRAINT `relatorio_avaliacao_perguntas_relatorio_avaliacao_id_foreign` FOREIGN KEY (`relatorio_avaliacao_id`) REFERENCES `relatorio_avaliacoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
