mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: relatorio_avaliacao_subperguntas
Create Table: CREATE TABLE `relatorio_avaliacao_subperguntas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `relatorio_avaliacao_pergunta_id` int unsigned NOT NULL,
  `descricao_subpergunta_id` int unsigned NOT NULL,
  `sifap_id` int unsigned DEFAULT NULL,
  `peso` decimal(8,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_ra_subp_pergunta` (`relatorio_avaliacao_pergunta_id`),
  KEY `fk_ra_subp_descsub` (`descricao_subpergunta_id`),
  KEY `fk_ra_subp_sifap` (`sifap_id`),
  CONSTRAINT `fk_ra_subp_descsub` FOREIGN KEY (`descricao_subpergunta_id`) REFERENCES `descricoes_subpergunta` (`id`),
  CONSTRAINT `fk_ra_subp_pergunta` FOREIGN KEY (`relatorio_avaliacao_pergunta_id`) REFERENCES `relatorio_avaliacao_perguntas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ra_subp_sifap` FOREIGN KEY (`sifap_id`) REFERENCES `sifaps` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
