mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: relatorio_resposta
Create Table: CREATE TABLE `relatorio_resposta` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `relatorio_subpergunta_id` int unsigned DEFAULT NULL,
  `processo_relatorio_id` int unsigned DEFAULT NULL,
  `resposta_texto` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `resposta_numero` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `relatorio_resposta_relatorio_subpergunta_id_foreign` (`relatorio_subpergunta_id`),
  KEY `relatorio_resposta_processo_relatorio_id_foreign` (`processo_relatorio_id`),
  CONSTRAINT `relatorio_resposta_processo_relatorio_id_foreign` FOREIGN KEY (`processo_relatorio_id`) REFERENCES `processo_relatorio` (`id`) ON DELETE SET NULL,
  CONSTRAINT `relatorio_resposta_relatorio_subpergunta_id_foreign` FOREIGN KEY (`relatorio_subpergunta_id`) REFERENCES `relatorio_subperguntas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1516 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
