mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: relatorio_avaliacao_respostas
Create Table: CREATE TABLE `relatorio_avaliacao_respostas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `relatorio_avaliacao_subpergunta_id` int unsigned DEFAULT NULL,
  `resposta_texto` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `resposta_numero` decimal(15,2) DEFAULT NULL,
  `distribuicao_relatorio_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_ra_resp_subp` (`relatorio_avaliacao_subpergunta_id`),
  KEY `relatorio_avaliacao_respostas_distribuicao_relatorio_id_foreign` (`distribuicao_relatorio_id`),
  CONSTRAINT `fk_ra_resp_subp` FOREIGN KEY (`relatorio_avaliacao_subpergunta_id`) REFERENCES `relatorio_avaliacao_subperguntas` (`id`),
  CONSTRAINT `relatorio_avaliacao_respostas_distribuicao_relatorio_id_foreign` FOREIGN KEY (`distribuicao_relatorio_id`) REFERENCES `distribuicoes_relatorio` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=456 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
