mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: relatorio_avaliacoes
Create Table: CREATE TABLE `relatorio_avaliacoes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_inicio` datetime DEFAULT NULL COMMENT 'data inicial do relatorio',
  `data_fim` datetime DEFAULT NULL COMMENT 'data final do relatorio',
  `disponivel` enum('0','1','2') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0',
  `chamada_relatorio_id` int unsigned DEFAULT NULL,
  `ocultar_dados` tinyint(1) NOT NULL DEFAULT '0',
  `numero_consultores` int DEFAULT NULL,
  `nota_maxima` enum('5','10','100') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '10',
  `numero_solicitacoes_por_consultor` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `relatorio_avaliacoes_chamada_relatorio_id_foreign` (`chamada_relatorio_id`),
  CONSTRAINT `relatorio_avaliacoes_chamada_relatorio_id_foreign` FOREIGN KEY (`chamada_relatorio_id`) REFERENCES `chamada_relatorios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
