mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: representante_institucional_confirm
Create Table: CREATE TABLE `representante_institucional_confirm` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `data_confirmacao` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `representante_institucional_confirm_processo_id_foreign` (`processo_id`),
  KEY `representante_institucional_confirm_user_id_foreign` (`user_id`),
  CONSTRAINT `representante_institucional_confirm_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`),
  CONSTRAINT `representante_institucional_confirm_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=388 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
