mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: representante_institucional_polo
Create Table: CREATE TABLE `representante_institucional_polo` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `polo_id` int unsigned NOT NULL COMMENT 'Id do polo',
  `data_inicio` date NOT NULL,
  `status` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `representante_institucional_polo_user_id_foreign` (`user_id`),
  KEY `representante_institucional_polo_polo_id_foreign` (`polo_id`),
  CONSTRAINT `representante_institucional_polo_polo_id_foreign` FOREIGN KEY (`polo_id`) REFERENCES `polos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `representante_institucional_polo_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
