mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: resultado
Create Table: CREATE TABLE `resultado` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `nota` int unsigned NOT NULL,
  `processo_id` int unsigned NOT NULL,
  `resultado_publicacao_id` int unsigned NOT NULL,
  `ordem_ranqueamento` int DEFAULT NULL COMMENT 'ordem do ranqueamento',
  PRIMARY KEY (`id`),
  KEY `resultado_processo_id_foreign` (`processo_id`),
  KEY `resultado_resultado_publicacao_id_foreign` (`resultado_publicacao_id`),
  CONSTRAINT `resultado_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `resultado_resultado_publicacao_id_foreign` FOREIGN KEY (`resultado_publicacao_id`) REFERENCES `resultado_publicacoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3210 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
