mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: resultado_quotas
Create Table: CREATE TABLE `resultado_quotas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `processo_id` int unsigned NOT NULL,
  `publicacao_quota_id` int unsigned NOT NULL,
  `ordem_ranqueamento` int DEFAULT NULL,
  `nota` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `resultado_quotas_processo_id_foreign` (`processo_id`),
  KEY `resultado_quotas_publicacao_quota_id_foreign` (`publicacao_quota_id`),
  CONSTRAINT `resultado_quotas_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `resultado_quotas_publicacao_quota_id_foreign` FOREIGN KEY (`publicacao_quota_id`) REFERENCES `publicacao_quotas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2591 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
