mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: resultado_publicacoes
Create Table: CREATE TABLE `resultado_publicacoes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `chamada_formulario_avaliacao_id` int unsigned NOT NULL,
  `situacao` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '0' COMMENT '0 - Indisponivel, 1 - Disponivel',
  `nome` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `resultado_publicacoes_user_id_foreign` (`user_id`),
  KEY `resultado_publicacoes_chamada_formulario_avaliacao_id_foreign` (`chamada_formulario_avaliacao_id`),
  CONSTRAINT `resultado_publicacoes_chamada_formulario_avaliacao_id_foreign` FOREIGN KEY (`chamada_formulario_avaliacao_id`) REFERENCES `formulario_avaliacoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `resultado_publicacoes_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
