mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: sifaps_dados
Create Table: CREATE TABLE `sifaps_dados` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `valor` double(10,2) DEFAULT NULL,
  `ano` varchar(4) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `sifap_id` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sifaps_dados_sifap_id_foreign` (`sifap_id`),
  CONSTRAINT `sifaps_dados_sifap_id_foreign` FOREIGN KEY (`sifap_id`) REFERENCES `sifaps` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
