mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: subedital_proponente_vagas
Create Table: CREATE TABLE `subedital_proponente_vagas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `termo_id` int unsigned DEFAULT NULL COMMENT 'id do termo de outorga',
  `edital_pai_id` int unsigned NOT NULL COMMENT 'id do edital pai',
  `subedital_id` int unsigned NOT NULL COMMENT 'id do subedital',
  `proponente_id` bigint unsigned NOT NULL COMMENT 'id do proponente (user_id)',
  `vagas` int NOT NULL DEFAULT '0' COMMENT 'quantidade de vagas do proponente no subedital',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_termo_subedital_proponente` (`termo_id`,`subedital_id`,`proponente_id`),
  KEY `subedital_proponente_vagas_edital_pai_id_foreign` (`edital_pai_id`),
  KEY `subedital_proponente_vagas_subedital_id_foreign` (`subedital_id`),
  KEY `subedital_proponente_vagas_proponente_id_foreign` (`proponente_id`),
  CONSTRAINT `subedital_proponente_vagas_edital_pai_id_foreign` FOREIGN KEY (`edital_pai_id`) REFERENCES `editais` (`id`) ON DELETE CASCADE,
  CONSTRAINT `subedital_proponente_vagas_proponente_id_foreign` FOREIGN KEY (`proponente_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `subedital_proponente_vagas_subedital_id_foreign` FOREIGN KEY (`subedital_id`) REFERENCES `editais` (`id`) ON DELETE CASCADE,
  CONSTRAINT `subedital_proponente_vagas_termo_id_foreign` FOREIGN KEY (`termo_id`) REFERENCES `termos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
