mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: termos
Create Table: CREATE TABLE `termos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `agencia` varchar(15) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'agencia',
  `conta` varchar(15) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'conta corrente',
  `banco_id` int unsigned DEFAULT NULL,
  `vigencia_inicial` date DEFAULT NULL COMMENT 'data da vigencia inicial',
  `vigencia_final` date DEFAULT NULL COMMENT 'data da vigencia final',
  `data_autorizacao` date DEFAULT NULL,
  `vigencia_inicial_convenio` date DEFAULT NULL COMMENT 'data da vigencia inicial do convênio',
  `vigencia_final_convenio` date DEFAULT NULL COMMENT 'data da vigencia final do convênio',
  `prestacao_conta` date DEFAULT NULL COMMENT 'data da prestação de contas',
  `data_relatorio_parcial` date DEFAULT NULL COMMENT 'data do relatório parcial',
  `data_relatorio_final` date DEFAULT NULL COMMENT 'data do relatório final',
  `valor` decimal(8,2) DEFAULT NULL COMMENT 'Valor',
  `numero` int DEFAULT NULL COMMENT 'numero do termo',
  `ano` varchar(4) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ano de criacao',
  `anexo_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'caminho do anexo do termo',
  `anexo_name` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'nome do anexo do termo',
  `status` int DEFAULT '0',
  `tipo` varchar(1) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1' COMMENT '1 - Outorga, 2 - Aditivo de Prazo, 3 - Aditivo de valor, 4 - Apostilamento, 5 - Termo Aditivo',
  `observacao` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'observacao',
  `observacao_visivel_no_termo` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0 = não visivel, 1 = visivel',
  `termo_disponivel` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0 = não disponivel, 1 = disponivel',
  `email_enviado` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Email de termo disponível enviado ao pesquisador',
  `responsavel_anexo_id` bigint unsigned DEFAULT NULL COMMENT 'responsavel pelo criação do anexo',
  `processo_id` int unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `data_assinatura` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `termos_responsavel_anexo_id_foreign` (`responsavel_anexo_id`),
  KEY `termos_processo_id_foreign` (`processo_id`),
  KEY `termos_banco_id_foreign` (`banco_id`),
  CONSTRAINT `termos_banco_id_foreign` FOREIGN KEY (`banco_id`) REFERENCES `bancos` (`id`),
  CONSTRAINT `termos_processo_id_foreign` FOREIGN KEY (`processo_id`) REFERENCES `processos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `termos_responsavel_anexo_id_foreign` FOREIGN KEY (`responsavel_anexo_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8131 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
