mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: termo_parcelas_pagas
Create Table: CREATE TABLE `termo_parcelas_pagas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `termo_parcela_id` int unsigned NOT NULL,
  `data_pagamento` date DEFAULT NULL,
  `data_notificacao` datetime DEFAULT NULL,
  `ordem_bancaria` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nota_empenho` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `situacao_pagamento` enum('1','2','3') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '1 - pago, 2 - pago parcialmente, 3 - não pago',
  `valor_pago` decimal(10,2) NOT NULL DEFAULT '0.00',
  `user_id` bigint unsigned DEFAULT NULL,
  `subacao_id` int unsigned DEFAULT NULL,
  `fonte_id` int unsigned DEFAULT NULL,
  `natureza_despesa_id` int unsigned DEFAULT NULL,
  `inserido_via_api` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `termo_parcelas_pagas_termo_parcela_id_foreign` (`termo_parcela_id`),
  KEY `termo_parcelas_pagas_user_id_foreign` (`user_id`),
  KEY `termo_parcelas_pagas_fonte_id_foreign` (`fonte_id`),
  KEY `termo_parcelas_pagas_subacao_id_foreign` (`subacao_id`),
  CONSTRAINT `termo_parcelas_pagas_fonte_id_foreign` FOREIGN KEY (`fonte_id`) REFERENCES `fonte_pagadoras` (`id`),
  CONSTRAINT `termo_parcelas_pagas_subacao_id_foreign` FOREIGN KEY (`subacao_id`) REFERENCES `subacoes` (`id`),
  CONSTRAINT `termo_parcelas_pagas_termo_parcela_id_foreign` FOREIGN KEY (`termo_parcela_id`) REFERENCES `termo_parcelas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `termo_parcelas_pagas_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22261 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
