mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: termo_relatorios
Create Table: CREATE TABLE `termo_relatorios` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `termo_id` int unsigned NOT NULL,
  `chamada_relatorio_id` int unsigned NOT NULL,
  `data_entrega` date DEFAULT NULL COMMENT 'data limite de entrega definida no termo, padrão vindo de chamada_relatorios.data_fim',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `termo_relatorios_termo_id_chamada_relatorio_id_unique` (`termo_id`,`chamada_relatorio_id`),
  KEY `termo_relatorios_chamada_relatorio_id_foreign` (`chamada_relatorio_id`),
  CONSTRAINT `termo_relatorios_chamada_relatorio_id_foreign` FOREIGN KEY (`chamada_relatorio_id`) REFERENCES `chamada_relatorios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `termo_relatorios_termo_id_foreign` FOREIGN KEY (`termo_id`) REFERENCES `termos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=879 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
