mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: termo_obs
Create Table: CREATE TABLE `termo_obs` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `observacao` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Observação',
  `status` tinyint(1) NOT NULL DEFAULT '0' COMMENT '0 - não visivel no termo; 1 - visivel no termo',
  `termo_id` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `termo_obs_termo_id_foreign` (`termo_id`),
  CONSTRAINT `termo_obs_termo_id_foreign` FOREIGN KEY (`termo_id`) REFERENCES `termos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
