mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: termo_parcelas
Create Table: CREATE TABLE `termo_parcelas` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `termo_id` int unsigned NOT NULL,
  `mes_vencimento` int NOT NULL,
  `ano_vencimento` int NOT NULL,
  `valor` decimal(10,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id`),
  KEY `termo_parcelas_termo_id_foreign` (`termo_id`),
  CONSTRAINT `termo_parcelas_termo_id_foreign` FOREIGN KEY (`termo_id`) REFERENCES `termos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=84545 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
