mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: termo_clausula_termo_modelo
Create Table: CREATE TABLE `termo_clausula_termo_modelo` (
  `termo_clausula_id` int unsigned NOT NULL,
  `termo_modelo_id` int unsigned NOT NULL,
  PRIMARY KEY (`termo_clausula_id`,`termo_modelo_id`),
  KEY `termo_clausula_termo_modelo_termo_modelo_id_foreign` (`termo_modelo_id`),
  CONSTRAINT `termo_clausula_termo_modelo_termo_clausula_id_foreign` FOREIGN KEY (`termo_clausula_id`) REFERENCES `termo_clausulas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `termo_clausula_termo_modelo_termo_modelo_id_foreign` FOREIGN KEY (`termo_modelo_id`) REFERENCES `termo_modelo` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
