mysql.exe : mysql: [Warning] Using a password on the command line interface 
can be insecure.
No C:\Users\fabiano.fonseca\git\ps1\ddls.ps1:21 caractere:9
+         & $mysqlPath -u $User -h $ServerHost -P $Port --password=$Pas ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysql: [Warning...an be insecure. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
*************************** 1. row ***************************
       Table: termo_exibicao
Create Table: CREATE TABLE `termo_exibicao` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `edital_id` int unsigned NOT NULL,
  `identificacao_outorgante` tinyint(1) NOT NULL DEFAULT '1',
  `identificacao_outorgado` tinyint(1) NOT NULL DEFAULT '1',
  `identificacao_da_bolsa` tinyint(1) NOT NULL DEFAULT '1',
  `valor_concedido_1` tinyint(1) NOT NULL DEFAULT '0',
  `valor_concedido_2` tinyint(1) NOT NULL DEFAULT '0',
  `valor_concedido_3` tinyint(1) NOT NULL DEFAULT '0',
  `valor_concedido_4` tinyint(1) NOT NULL DEFAULT '0',
  `auxilio_a_ser_pago` tinyint(1) NOT NULL DEFAULT '0',
  `valor_a_ser_pago` tinyint(1) NOT NULL DEFAULT '0',
  `valor_a_ser_pago_e_dt_limite` tinyint(1) NOT NULL DEFAULT '0',
  `clausulas` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `termo_exibicao_edital_id_foreign` (`edital_id`),
  CONSTRAINT `termo_exibicao_edital_id_foreign` FOREIGN KEY (`edital_id`) REFERENCES `editais` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC
